<mat-list>
  <div class="header">
    <button mat-flat-button color="warn" (click)="onNoClick()">Close</button>
  </div>

  <mat-list-item><strong>Cep: </strong> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><strong>Logradouro: </strong> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><strong>Complemento: </strong></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><strong>Bairro: </strong></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><strong>Localidade: </strong></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><strong>UF: </strong></mat-list-item>
</mat-list>
