<mat-list>
  <div class="header">
    <button mat-flat-button color="warn" (click)="onNoClick()">Close</button>
  </div>

  <mat-list-item
    ><strong>Cep: </strong>
    {{ student.address.cep }}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item
    ><strong>Logradouro: </strong> {{ student.address.logradouro }}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item
    ><strong>Complemento: </strong>
    {{ student.address.complemento }}</mat-list-item
  >
  <mat-divider></mat-divider>
  <mat-list-item
    ><strong>Bairro: </strong> {{ student.address.bairro }}</mat-list-item
  >
  <mat-divider></mat-divider>
  <mat-list-item
    ><strong>Localidade: </strong>
    {{ student.address.localidade }}</mat-list-item
  >
  <mat-divider></mat-divider>
  <mat-list-item><strong>UF: </strong> {{ student.address.uf }}</mat-list-item>
</mat-list>
