mat-toolbar {
  background-color: #2e2e33;
}

span {
  color: #eeeeee;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #13ab47;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  color: #fff;
  margin-left: 10px;
}
