<form class="example-form" [formGroup]="formulario">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Gênero</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="male">Masculino</mat-option>
            <mat-option value="female">Feminino</mat-option>
            <mat-option value="other">Outro</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Age</mat-label>
          <input
            matInput
            placeholder="Ex. 20"
            type="number"
            formControlName="age"
          />
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Ex. usuario@gmail.com"
            formControlName="email"
          />
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Document</mat-label>
          <input matInput maxlength="11" #document formControlName="document" />
          <mat-hint align="end">{{ document.value.length }} / 11</mat-hint>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Postal Code</mat-label>
          <input
            matInput
            #postalCode
            maxlength="8"
            placeholder="Ex. 91740840"
            formControlName="cep"
          />
          <mat-hint align="end">{{ postalCode.value.length }} / 8</mat-hint>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <footer>
    <button (click)="onNoClick()" mat-stroked-button>Cancel</button
    ><button
      mat-raised-button
      class="btn-create"
      (click)="updateStudent()"
      type="submit"
    >
      Update
    </button>
  </footer>
</form>
