/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-elevation-z8 {
  box-shadow: 0 0 0 transparent;
}

.mat-row {
  height: 60px !important;
}

tr {
  border-color: red !important;
}

body,
html {
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background-color: #2e2e33;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
